<form class="form-signin p-5" (ngSubmit)="onSubmit(f.value)" #f="ngForm">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <!-- <pre>{{ f.value | json }}</pre> -->
    </div>

    <form-generic-input type="text" [placeholder]="'Email'" [isRequired]="true" [errorMsg]="'Please enter valid email address'"
        [label]="'User Email'" [pattern]="reusableValidation.email" ngModel name="email"></form-generic-input>

    <form-generic-input type="text" [placeholder]="'PAN Card'" [isRequired]="true" [errorMsg]="'Please enter valid PAN card no.'"
        [label]="'PAN'" [pattern]="reusableValidation.pan" ngModel name="pan"></form-generic-input>


    <form-generic-input type="text" [placeholder]="'AADHAR Card'" [isRequired]="true"
        [errorMsg]="'Please enter valid AADHAR card no.'" [label]="'AADHAR'" [pattern]="reusableValidation.aadhar"
        ngModel name="aadhar"></form-generic-input>

    <form-generic-toggle [label]="'Stay signed in?'" id="'staysignedin'" ngModel
        name="staysignedin"></form-generic-toggle>

    <label for="">Select Country</label>

    <generic-autocomplete [data]="countries" name="country" [(ngModel)]="country" [searchKeyword]="keyword"
        placeholder="Enter the Country Name" (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
        (inputFocused)='onFocused($event)' historyIdentifier="countries" [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate">
    </generic-autocomplete>

    <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
    </ng-template>
    <button class="btn btn-lg btn-primary btn-block mt-2" [disabled]="!f.valid" type="submit">Sign in</button>
</form>

<div class="p-2">
    <button class="btn btn-lg btn-primary btn-block mt-2" routerLink="/paginator">
        To Paginator demo &rarr;
    </button>

    <button class="btn btn-lg btn-success btn-block mt-2" routerLink="/datepicker">
        To Datepicker demo &rarr;
    </button>

</div>